.photo-container {
    line-height: 0;
    column-count: 3;
    column-gap: 1rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    -moz-column-count: 3;
}

.photos .photos-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;

}

.photos .photos-top .topic {
    display: flex;
    align-items: center;
    gap: 14px;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    /* -moz-appearance: menuimage; */

}

.photos .photos-top .topic::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.photos .photos-top .topic {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}


.photos .photos-top .topic .topic-content {
    display: flex;
    align-items: center;
    background: rgba(211, 211, 211, 0.329);
    padding: 5px 12px;
    border-radius: 12px;
}

.photos .photos-top .topic .topic-content:hover {
    background: lightgray;
}

.photos .photos-top .topic .topic-content p {
    white-space: nowrap;
}

.photos .photos-top .topic .topic-content span {
    padding: 4px 8px;
    color: var(--primary-color);
    border-radius: 15px;
    margin-left: 3px;

}

.photos .photos-heading {
    background: rgba(211, 211, 211, 0.329);
    padding: 5px 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all .4s ease;
    max-width: max-content;
    width: auto;

}

.photos .photos-heading:hover {
    background: lightgray;
    transform: scale(1.002);
}

.photos .photos-heading h1 {
    color: var(--primary-color);
    font-size: 18px;
    text-transform: capitalize;
    margin-right: 10px;
}

.photos .photos-heading .all-images {
    padding: 4px 10px;
    color: #0d0c2294;
    background: rgba(63, 58, 153, 0.051);
    border-radius: 15px;
}

.photo-container img {
    width: 100% !important;
    height: auto !important;
    border-radius: 12px;
    padding: 1px;
    margin: 1px;
    margin-bottom: 5px;
}